<div
  [hidden]="!isVisible"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed inset-0 z-50 overflow-x-hidden overflow-y-auto"
>
  <div class="fixed inset-0 bg-black opacity-70"></div>
  <div class="flex items-center justify-center min-h-screen">
    <div class="relative w-full max-w-4xl">
      <div class="relative rounded-lg shadow dark:bg-white">
        <div
          class="flex items-start justify-between p-4 border-b rounded-t bg-[#0A1770] rounded-b-lg"
        >
          <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
            Añadir tarea
          </h3>
          <button
            type="button"
            class="text-white bg-transparent hover:bg-blue-200 hover:text-blue-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-blue-900 dark:hover:text-white"
            data-modal-hide="staticModal"
            (click)="hideModal()"
          >
            <svg
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>

        <div class="space-y-6">
          <div class="w-full lg:w-full bg-white rounded-lg lg:rounded-l-none">
            <form class="px-5 pt-3 bg-white rounded">
              <div
                class="bg-white px-2 pb-8 mb-4 flex flex-col my-2 md:flex md:justify-between"
              >
                <div class="-mx-3 md:flex mb-2">
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label
                      class="block tracking-wide font-bold mb-2"
                      for="grid-first-name"
                    >
                      Nombre de la actividad:
                    </label>
                    <input
                      class="appearance-none block w-full bg-grey-lighter border border-black rounded py-2 px-4 mb-3"
                      id="grid-first-name"
                      type="name"
                      placeholder="Ingresa el nombre de la actividad"
                    />
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label
                      class="block tracking-wide font-bold mb-2"
                      for="start-date"
                    >
                      Fecha de inicio
                    </label>
                    <input
                      class="appearance-none block w-full border border-black rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 calendar"
                      id="start-date"
                      type="date"
                      placeholder="Seleccione la fecha de inicio"
                    />
                    <span class="text-xs text-gray-600"
                      >Seleccione la fecha de inicio</span
                    >
                  </div>
                </div>

                <div class="-mx-3 md:flex mb-2">
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label
                      for="grid-first-name"
                      class="block tracking-wide font-bold mb-2"
                    >
                      Descripcion de actividad
                    </label>
                    <textarea
                      name="message"
                      placeholder="Ingresa una descripción sobre esta actividad"
                      class="w-full resize-none rounded-md border border-black bg-white py-2 px-6 text-base outline-none focus:shadow-md"
                    ></textarea>
                  </div>
                  <div class="md:w-1/2 px-3">
                    <label
                      class="block tracking-wide font-bold mb-2"
                      for="start-date"
                    >
                      Fecha de finalizacion
                    </label>
                    <input
                      class="appearance-none block w-full border border-black rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                      id="start-date"
                      type="date"
                      placeholder="Selecione la fecha de inicio"
                    />
                    <span class="text-xs text-gray-600"
                      >Seleccione la fecha de inicio</span
                    >
                  </div>
                </div>
                <div class="-mx-3 md:flex mb-3">
                  <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block">
                      <span class="font-bold">Categoria</span>
                      <select
                        class="form-select mt-1 block w-60 border border-black py-2.5 rounded-md"
                      >
                        <option disabled selected value="">
                          Seleccione la categoria
                        </option>
                        <option value="1" class="bg-[#FFE9A0]">Diseño</option>
                        <option value="2" class="bg-[#FFA0A0]">Reunion</option>
                        <option value="3" class="bg-[#A8FFA0]">Testeo</option>
                      </select>
                    </label>
                  </div>
                  <div class="md:w-1/2 px-3">
                    <div class="flex flex-col md:flex-row">
                      <div class="md:w-1/2">
                        <label
                          class="block tracking-wide text-base font-bold mb-2"
                          for="start-time"
                        >
                          Hora de inicio:
                        </label>
                        <input
                          class="appearance-none block w-full md:w-auto border border-black rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="start-time"
                          type="time"
                          placeholder="Seleccione la hora de inicio"
                        />
                      </div>
                      <div class="md:w-1/2 md:mt-0 md:ml-3">
                        <label
                          class="block tracking-wide font-bold mb-2"
                          for="end-time"
                        >
                          Hora de finalización:
                        </label>
                        <input
                          class="appearance-none block w-full md:w-auto border border-black rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                          id="end-time"
                          type="time"
                          placeholder="Seleccione la hora de finalización"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  <div>
                <div class="justify-end flex font-semibold">
                  <button class="bg-gray-200 py-1.5 px-2 rounded-md mx-5">
                    Cancelar
                  </button>
                  <button
                    class="bg-[#0A1770] py-1.5 px-2 rounded-md mr-5 text-white"
                 
                  >
                    Agregar tarea
                  </button>
                </div>
              </div> -->
            </form>
            <div class="flex pb-6 justify-end">
              <div class="justify-end flex font-semibold">
                <button
                  class="bg-gray-200 py-1.5 px-2 rounded-md mx-5"
                  (click)="hideModal()"
                >
                  Cancelar
                </button>
                <button
                  class="bg-[#0A1770] py-1.5 px-2 rounded-md mr-5 text-white"
                  (click)="hideModal()"
                >
                  Agregar tarea
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
